{% extends 'accounts/main.html' %}
{% block content %} 
{% include 'accounts/status.html' %} 
<div class="row">
	<div class="col">
		<div class="card card-body">
            <h5>Hello, {{user.customer.name}}</h5>
            <p> Here is all of your order</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
					
				</tr>
				{% for order in c_order %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.product.category}}</td>
						<td> {{order.date_created}} </td>
						<td>{{order.status}} </td>
						
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}